# Data (fetch edilir, commit edilmez)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Outputs
outputs/models/*
!outputs/models/.gitkeep

outputs/reports/*
!outputs/reports/.gitkeep
!outputs/reports/eda_global
!outputs/reports/eda_ca1

outputs/reports/eda_global/*
!outputs/reports/eda_global/.gitkeep
outputs/reports/eda_ca1/*
!outputs/reports/eda_ca1/.gitkeep

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Secrets
.env

# Do not push plan/doc files
DS570 Term Project Plan.md
DS570_Proje_Plani_v3.md
DS 570 Final Project Guidelines.md
proje_dokumantasyonu.txt